<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a853d3fc21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="contenido-header">
                <div class="logo-div">
                    <a href="/">
                        <img src="images/logo-mercado-liebre.svg" class="logo-principal">
                    </a>
                </div>
                <div class="interfaz-search">
                    <input type="text" placeholder="Buscar productos, marcas" class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="cuotas-div">
                    <p class="cuotas">Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <div class="barra-navegacion">
                <ul class="opciones-comprar" type="none">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="opciones-cuenta" type="none">
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></i></li>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
            <div class="icon-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="div-banner">
        <img src="images/img-home-banner.jpg" class="banner">
    </div>
    <main>
        <h3 class="basado-visita">Basado en tu última visita</h3>
        <section>
            <article class="productos">
                <div class="div-img-producto">
                    <img src="images/img-cafetera-moulinex.jpg" class="imagen-producto">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="container-precio-descuento">
                    <p class="precio-producto">$6.770</p>
                    <p class="descuento-producto">40% off</p>
                    <p class="descripcion-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="productos">
                <div class="div-img-producto">
                    <img src="images/img-macbook-pro-2019.jpg" class="imagen-producto">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="container-precio-descuento">
                    <p class="precio-producto">$230.000</p>
                    <p class="descuento-producto">20% off</p>
                    <p class="descripcion-producto">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="productos">
                <div class="div-img-producto">
                    <img src="images/img-samsung-galaxy-s10.jpg" class="imagen-producto">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="container-precio-descuento">
                    <p class="precio-producto">$70.500</p>
                    <p class="descuento-producto">10% off</p>
                    <p class="descripcion-producto">Samsung Galaxy S</p>
                </div>
            </article>

            <article class="productos">
                <div class="div-img-producto">
                    <img src="images/img-tv-samsung-smart.jpg" class="imagen-producto">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="container-precio-descuento">
                    <p class="precio-producto">$23.200</p>
                    <p class="descuento-producto">5% off</p>
                    <p class="descripcion-producto">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div class="footer-flex">
            <section class="footerSection">
                <i class="fa-solid fa-credit-card" id="iconFooter"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="footerSection">
                <i class="fa-solid fa-gift" id="iconFooter"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="footerSection">
                <i class="fa-solid fa-user-shield" id="iconFooter"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <div class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </div>
        </div>
    </footer>
</body>

</html>